{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Add page
{% endblock %}

{% block body_block %}
	{% if category %}
		<h1>Rango says...Add a Page to {{ category.name }}</h1> 
		<form id="page_form" method="post" action="{% url 'rango:add_page' category.slug %}">
			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			{% for field in form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}
				{{ field }}
				</br></br>
			{% endfor %}
			<input type="submit" name="submit" value="Create Page" />
		</form>
		</br>
		<a href="{% url 'rango:show_category' category.slug %}">Return to {{ category.name }} Category</a></br>
	{% else %}
		<h1>Rango says...Category does not exist.</h1>
	{% endif %}
{% endblock %}