{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Login
{% endblock %}

{% block body_block %}
	<h1>Rango says...Login!</h1>
	<form id="login_form" method="post" action="{% url 'rango:login' %}">
		{% csrf_token %}
		Username: <input type="text" name="username" value="" size="50" />
		<br />
		<br />
		Password: <input type="password" name="password" value="" size="50" />
		<br />
		<br />
		<input type="submit" value="submit" />
		{% if error %}
			Your username and password did not match a registered account
				</br></br>
		{% endif %}
	</form>	
{% endblock %}